@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");

:root {
  --background: #0c0e12;
  --foreground: #13151a;
  --boxground: #181b22;
  --boxground-highlight: #1e2229;
  --border: #1e2126;
  --margins: #1d2028;
  --thickmargin: #272c35;
  --searchbars: #15181e;
  --graytext: #77899d;
  --dropbox: #101216;
  --dropbox-highlight: #111419;
  --circledarkborder: #16181d;
  --white-text: #f0f2f5;
  --shadow-color: #00000075;

  --accent-col: #dc2828;
  --accent-light: #e35555;
  --accent-dark: #c72525;
  --accent-logout: #3f1e22;
  --accent-profile: #40191d;
  --accent-border: #461a1e;
  --accent-transparent: #26171c;
  --accent-button-highligh: #3b191d;

  --green: #1cca5b;
  --green-transparent: #122e2a;

  --yellow: #d5a222;
  --yellow-transparent: #352a19;

  --blue: #60a5fa;
  --blue-transparent: #19253c;

  --pink: #d1639d;
  --pink-transparent: #281a28;

  --purple-transparent: #211c31;
  --purple: #c084fc;

  --velvet-glow: #da3b25;

  --font: "Noto Sans";

  --border-radius: 0.75rem;
}
::-webkit-scrollbar {
  display: none;
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: var(--shadow-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-logout);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-inline: auto;
}

html,
body {
  overflow: hidden;
}

html {
  font-size: 16px; /* Explicitly sets 1rem to equal 16px */
}

body {
  font-family: var(--font), sans-serif;
  background-color: var(--background);
  color: var(--white-text);
  /* letter-spacing: 0.25px; */
}

.main {
  display: flex;
  margin-inline: auto;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  max-width: 2500px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--thickmargin);
  height: 4rem;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.utility-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button {
  display: flex;
  justify-content: center;
  font-family: var(--font);
  align-items: center;
  background-color: var(--accent-col);
  color: var(--white-text);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.action-button:hover {
  background-color: var(--accent-dark);
}

.action-button span {
  font-size: 1.25rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.leftPanel {
  display: flex;
  width: 20rem;
  height: 100%;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  overflow-y: scroll;
}

.centerPanel {
  display: flex;
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: start;
  background-color: var(--pink-transparent);
  overflow: hidden;
  padding: 1rem;
}
.rightPanel {
  display: flex;
  width: 25rem;
  height: 100%;
  justify-content: center;
  align-items: start;
  padding: 1rem;
}

.leftPanel,
.rightPanel {
  /* background-color: var(--blue-transparent); */
  flex-shrink: 0;
}

.left-panel-inner-div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.box {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  box-shadow: 0px 6px 12px var(--shadow-color);
}

.profileDiv {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.75rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--margins);
  margin-bottom: 1rem;
}

.profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem !important;
  height: 3rem;
  background-color: var(--accent-profile);
  color: var(--accent-col);
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
}

.profilePic::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border: 0.125rem solid var(--circledarkborder);
  border-radius: 50%;
  background-color: var(--green);
  position: absolute;
  z-index: 1;
  bottom: -3px;
  right: -2px;
}

.nameDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  flex: 1;
}

.name {
  color: var(--white-text);
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.email {
  color: var(--graytext);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  letter-spacing: normal;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.user-util-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.user-interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.settings {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--boxground);
  color: var(--graytext);
  font-size: 0.875rem;
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--boxground);
  color: var(--graytext);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logout:hover {
  color: var(--accent-col);
  background-color: var(--accent-logout);
}

.settings:hover {
  background-color: var(--boxground-highlight);
  color: var(--white-text);
}

.label {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0.75rem;
  padding: 0.375rem 0.5rem;
  border: 1px solid var(--accent-border);
  background-color: var(--accent-transparent);
  gap: 0.5rem;
  border-radius: var(--border-radius);
  font-size: 0.75rem;
  line-height: 1rem;
  width: 100%;
  color: var(--accent-col);
}

.storage-heading {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--graytext);
}

.storage-meter-outer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.storage-meter-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  margin-inline: auto;
}

.percentage {
  color: var(--white-text);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Noto Sans";
  line-height: 2rem;
}

.used {
  font-size: 0.75rem;
  color: var(--graytext);
  line-height: 1rem;
  font-weight: 500;
}

.storage-info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.storageInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.storageInfo > span {
  color: var(--graytext);
}

.remaining-storage {
  margin-top: 0.25rem;
  color: var(--graytext);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}

.upgrade-storage {
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.upgrade-storage span {
  width: auto;
  display: flex;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-block: 0.125rem;
  padding-inline: 1rem;
}

.upgrade-storage:hover {
  background-color: var(--accent-button-highligh);
}

.quick-stats-div {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  flex-direction: column;
}

.quick-stats-heading {
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 0.875rem;
  color: var(--graytext);
  margin-bottom: 0.75rem;
}

.stats-div {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.stat {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--margins);
  gap: 0.75rem;
}

.last {
  margin-bottom: 0;
  border-bottom: 0;
}

.stat-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--graytext);
  min-width: 2.25rem;
  min-height: 2.25rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.75rem;
  background-color: var(--boxground);
}

.stat-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: start;
}

.stat-block-heading {
  font-size: 0.875rem;
  color: var(--graytext);
  line-height: 1.25rem;
}

.value-stat {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--white-text);
}

@media (max-width: 1280px) {
  .leftPanel {
    width: 18rem;
  }
}
